body {
  height: 100%;
  background: url('../images/8b0e90fba4453dfb101f414415b3bc72(3).jpg') rgb(78, 155, 148);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: left top;
  font: 400 1.875em/1.38 Montserrat;
  color: rgb(0, 0, 0);
}

.text {
  position: fixed;
  top: 14px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 22.3828125%;
  min-height: 43px;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  width: 12.1666666666%;
  height: 55px;
  margin: 208px 0 0 3%;
  border-radius: 3px;
  background-color: #d9bdc5;
  font-size: 0.833em;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 0);
}

.element-1 {
  position: relative;
  float: left;
  z-index: 0;
  width: 10%;
  height: 1800px;
  background: url('../images/ac5afa59ada34de634b6be4db5a59b24%20-%20%E5%89%AF%E6%9C%AC.png') rgba(222, 222, 222, 0);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
}

.element-2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100.0833333333%;
  height: 70px;
  margin: 0 auto;
  background-color: rgba(160, 155, 155, 0.68);
}

@media(max-width: 1100px) {
  .element-2,
  .text {
    right: auto;
  }

  ._button {
    position: relative;
    z-index: 1;
  }

  .element-1 {
    position: relative;
    z-index: 0;
  }
}

@media(max-width: 1000px) {
  body {
    font-size: 1.875em;
  }

  ._button {
    position: relative;
    z-index: 1;
  }

  .element-1 {
    position: relative;
    z-index: 0;
  }
}

@media(max-width: 300px) {
  ._button {
    position: relative;
    z-index: 1;
  }

  .element-1 {
    position: relative;
    z-index: 0;
  }
}