body {
  height: 100%;
  background: url('../images/8b0e90fba4453dfb101f414415b3bc72(2).jpg') rgb(78, 155, 148);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font: 700 1.25em/1.38 Montserrat;
  color: rgb(0, 0, 0);
}

.element {
  float: left;
  width: 10%;
  height: 1800px;
  background: url('../images/ac5afa59ada34de634b6be4db5a59b24%20-%20%E5%89%AF%E6%9C%AC.png') rgba(222, 222, 222, 0);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
}

._button {
  display: block;
  float: left;
  width: 12.1666666666%;
  height: 55px;
  margin: 208px 0 0 3%;
  border-radius: 3px;
  background-color: #d9bdc5;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

@media(max-width: 1000px) {
  body {
    font-size: 1.25em;
  }
}